/venv
.env
.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.mp4
*.avi
*.mov
*.mkv
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.svg
*.mp3
*.wav
*.flac
/assets
/frontend/node_modules
/frontend/dist
/jobs